[Desktop Entry]
Type=Application
Name=Project Oracle
Comment=Open Project Oracle v0.0.22 and Yala's Soar world
Exec=PROJECT_ORACLE_EXEC_PLACEHOLDER
Icon=utilities-terminal
Terminal=false
Categories=Game;
StartupNotify=true
Keywords=Oracle;Simulation;Yala;Soar;
